/*=================================
My Custom CSS
=============

Author: Mohammad Saifur Rahman
Updated: 20 May, 2018
Notes: Hand Coded for RR Foundation

===================================*/

body {
    font-size: 15px;
    line-height: 1.5;
}
.section_padding {
    padding: 70px 0;
}
.section_bg_1 {
    background: url(assets/img/section_bg_1.png) no-repeat scroll center /cover;
}
.section_overlay {
    position: relative;
    z-index: 1;
}
.section_overlay::after {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #093E5B;
    opacity: .6;
    z-index: -1;
}
.section_title {
    color: #fff;
    text-align: center;
    margin-bottom: 70px;
}
.section_title h2 {
    text-transform: uppercase;
    font-size: 28px;
}
.section_title span {
    color: #13A3ED;
}
.single_timeline_item {
    position: relative;
    z-index: 3;
    width: 150px;
    margin: 0 auto 50px;
}
.timeline_frame {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
    border: 1px solid #376175;
    padding: 3px;
    background-color: #093E5B;
}
.single_timeline_item::after {
    position: absolute;
    content: "";
    left: 50%;
    top: 0;
    width: 2px;
    height: calc(100% + 50px);
    background: #376075;
    z-index: -1;
    margin-left: -1px;
}
.single_timeline_item:last-child::after {
    background: transparent;
}
.timeline_box {
    background: #062838;
    color: #fff;
    width: 400px;
    height: 200px;
    padding: 30px;
    position: absolute;
    left: -440px;
    top: 50%;
    margin-top: -100px;
    border-radius: 50px;
    text-align: right;
}
.timeline_box h3 {
    text-transform: uppercase;
    color: #0B6D9C;
    margin-bottom: 20px;
}
.timeline_box::after {
    position: absolute;
    content: "";
    right: -60px;
    top: 50%;
    margin-top: -30px;
    border-color: transparent transparent transparent #062838;
    border-style: solid;
    border-width: 30px;
}
.single_timeline_item:nth-child(2n+2) .timeline_box {
    left: auto;
    right: -440px;
    background-color: #fff;
    color: #BACCDB;
    text-align: inherit;
}
.single_timeline_item:nth-child(2n+2) .timeline_box::after {
    right: auto;
    left: -60px;
    border-color: transparent #fff transparent transparent;
}
.single_timeline_item:nth-child(2n+2) .timeline_box h3 {
    color: #38CAF3;
}